* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#bg {
    color: white;
    height: 500px;
    background-color: black;
    background-image: url("img/background.jpg");
    background-repeat: repeat;
    background-position: top center;
    padding: 60px;
    margin: 2px 10px 2px 10px;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: lowercase;
    background-color: whitesmoke;
    margin: 1%;
    padding: 2%;
}

#box {
    background-color: green;
    padding: 10px 10px 10px 10px;
    border: 3px solid black;
    margin: 40px;
    width: 300px;
    height: 100px;
    overflow: auto;
}
#content {
    background-color: coral;
}

div {
    background-color:tomato;
}
div.container {
    background-color:blue;
    position: relative;
    width: 300px;
    height: 300px;
}

p {
    color: blue;
    font-size: 20px;
    width: 90%;
    height: 150px;
    overflow: auto;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;    
}


.row {
    width: 100%;
    background-color: red;
}

/* media queries, be carfull not to overlap sizes */
@media (min-width: 1200px){ 
    .col-lg-1, .col-lg-2, .col-lg-3,.col-lg-4, .col-lg-5, .col-lg-6,.col-lg-7, .col-lg-8, .col-lg-9,.col-lg-10, .col-lg-11, .col-lg-12{
        float: left;
        border: 1px solid green;
        background-color: maroon;
    }
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 74.99%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }    
}


#p1 {
    background-color: brown;
    float: left;

}


#p2 {
    background-color: azure;
    float: right;

}
#p3 {
    background-color: mediumslateblue;
    clear: left;
}
#p4 {
    background-color: yellow;
}

#p5 {
    background-color: yellow;
    position: relative;
    left: 150px;
    width: 50px;
    height: 50px;
}


#p6 {
    background-color: yellow;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    right: 50px;
}
#p7 {
    background-color: green;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 50px;

}
#p8 {
    background-color: yellow;
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 50px;
    right: 50px;
}
#p9 {
    background-color: green;
    width: 50px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 50px;

}
h1 {
    color: red;
    font-size: 50px;
    text-align: center;
    font-style: oblique;

}

.green {
    color: green;
}
.italic {
    font-style: italic;
}

.green, .italic {
    font-style: italic;

}
#cssIDselector{
    color: yellowgreen;
}
ul {
    list-style-type: square;
    font-size: 20px;
}
ul.big {
    font-size: 25px;
}   
ul.big > li {
    color: grey;
}       

header li {
    font-size: 20px;
    list-style: none;
} 
header li:nth-child(2){
    font-size: 25px;
}       
a:link, a:visited{
    text-decoration: none;
    background-color: green;
    border: 1px solid blue;
    color: black;
    display: black;
    text-align: center;
    margin-bottom: 1px;
}
a:hover, a:active{
    background-color: red;
    color: purple;
}
section li:nth-child(odd) {
    color: grey;
}
section li:nth-child(1) {
    font-style: oblique;
}
section li:nth-child(1):hover {
    background-color: red;
}   
section {
    clear: both;
   
}
li > ul > li {
    margin-left: 2em;
}